.content {
    color: #dbdbdb;
    background-color: #2b2b2b;
    margin-right: 15px;
    margin-left: 15px;
}

.launcher-menu {
    border: 0px;
    border-bottom: 3px solid #2b2b2b;
    border-radius: 0px;
    background-image:none;
    background-color: #2b2b2b;
    padding-bottom: 5px;
    margin-right: 5px;
}

#inactive-configure-button.launcher-menu {
    color: #dbdbdb;
    padding-bottom: 5px;
}

#inactive-configure-button.launcher-menu:hover {
    background-color: #212121;
    border-bottom: 3px solid black;
}

#active-configure-button.launcher-menu {
    color: #dbdbdb;
    border-bottom: 3px solid #2d5fab;
}

#active-configure-button.launcher-menu:hover {
    background-color: #212121;
}