.launcher-banner-build-number {
    margin-right: 90px;
    color: gray;
}
.launcher-banner-container {
    margin-top: 75px;
    margin-right: 7px;
}
.launcher-banner-close-button {
    border-image: none;
    margin-right: 6px;
    padding: 0;
    border: 0;
    min-width: 35px;
    min-height: 37px;
    box-shadow: none;
}
#close-button.launcher-banner-close-button {
    background-image: url("../gui/launcher-close-button-inactive.png");
}
#close-button.launcher-banner-close-button:hover {
    background-image: url("../gui/launcher-close-button-hover.png");
}
#close-button.launcher-banner-close-button:active {
    background-image: url("../gui/launcher-close-button-active.png");
}
.launcher-menu-container {
    color: #dbdbdb;
    background-color: #2b2b2b;
    margin-left: 5px;
    margin-right: 6px;
}
.launcher-menu-button {
    border: 0px;
    border-bottom: 3px solid #2b2b2b;
    border-radius: 0px;
    background-image:none;
    background-color: #2b2b2b;
    padding-bottom: 5px;
    margin-right: 5px;
}
#inactive-menu-button.launcher-menu-button {
    color: #dbdbdb;
    padding-bottom: 5px;
}
#inactive-menu-button.launcher-menu-button:hover {
    background-color: #212121;
    border-bottom: 3px solid black;
}
#active-menu-button.launcher-menu-button {
    color: #dbdbdb;
    border-bottom: 3px solid #2d5fab;
}
#active-menu-button.launcher-menu-button:hover {
    background-color: #212121;
}
.launcher-content-container {
    margin-right: 6px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.launcher-feedback-content-container {
    border-top: 3px solid #1d1d1d;
}
.launcher-feedback-navigation-bar {
    padding: 4px;
}
.launcher-feedback-navigation-button {
    margin-right: 3px;
    padding: 3px 8px;
}
.launcher-feedback-options-menu-container {
    min-width: 100px;
    border-bottom: 2px solid #1d1d1d;
}
.launcher-feedback-options-menu {
    background-color: #2b2b2b;
    min-width: 100px;
}
.launcher-feedback-options-container {
    border-color: #1d1d1d;
    border-width: 0px 0px 2px 2px;
    border-style: solid;
    padding: 10px;
}
.launcher-feedback-options-button {
    border: 0px;
    border-bottom: 3px solid #2b2b2b;
    border-radius: 0px;
    background-image:none;
    background-color: #2b2b2b;
    padding: 5px 10px;
    margin: 0px;
}
#inactive-menu-button.launcher-feedback-options-button {
    color: #dbdbdb;
    border-right: 3px solid #2b2b2b;
}
#inactive-menu-button.launcher-feedback-options-button:hover {
    background-color: #212121;
    border-right: 3px solid black;
}
#active-menu-button.launcher-feedback-options-button {
    color: #dbdbdb;
    border-right: 3px solid #2d5fab;
}
#active-menu-button.launcher-feedback-options-button:hover {
    background-color: #212121;
}
.launcher-feedback-options-label {
    color: gray;
    margin-bottom: 3px;
}
.launcher-widget-entry-insert {
    border-image: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-shadow: none;
}
#active-invalid.launcher-widget-entry-insert {
    color: #ff8989;
}
#active-valid.launcher-widget-entry-insert {
    color: #9ac572;
}
#inactive-valid.launcher-widget-entry-insert {
    color: #7fa35f;
}
#inactive-invalid.launcher-widget-entry-insert {
    color: #c57272;
}
.launcher-widget-path-box {
    border: 1px solid gray;
    min-height: 20px;
    padding: 1px 5px;
    color: #b8cfe5;
    background-color: #45494a;
}
.form-button {
    border-image: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    min-width: 20px;
    min-height: 20px;
    box-shadow: none;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    border-radius: 2px;
}
#picker-button.form-button {
    margin-left: 6px;
    background-image: url("../icons/open_folder.png");
}
#picker-button.form-button:hover {
    margin-left: 6px;
    background-image: url("../icons/open_folder_light.png");
}
#drop-config-button.form-button {
    background-image: url("../icons/drop_settings.png");
    min-width: 23px;
    padding: 2px;
}
#drop-config-button.form-button:hover {
    background-color: #45494a;
    background-image: url("../icons/drop_settings_light.png");
}
#drop-config-button.form-button:active {
    background-color: #515657;
}
.context-box-container {
    background-color: #2b2b2b;
    border: 1px solid #5b5b5b;
    padding: 0px;
    margin-top: 2px;
}
.context-form-title {
    background-color: #45494a;
    color: #b4c4cd;
    margin: 0px;
    padding: 5px 10px;
    font-weight: bold;
}
.context-form-option {
    margin: 5px 15px;
}
.context-form-checkbox {
    margin-right: 3px;
}
.enrollment-combo-picker {
    margin-top: 0px;
}
.action-bar {
    border: 1px solid #5b5b5b;
    padding: 2px;
}
.action-bar-search{
    padding: 2px 8px;
    margin: 0px;
    font-size: 10pt;
    min-height: 20px;
    outline: none;
    border-radius: 3px;
    border: 0px;
}
.table-list-data {
    border: 1px solid #5b5b5b;
    padding: 5px;
}
.table-list-container {
    margin-top: 20px;
}
.instructions-link {
    margin-top: 5px;
}
.active-item {
    margin-right: 3px;
}
.active-item:hover {
    background-color: #45494a;
}
.active-item:active {
    background-color: #515657;
}
.inactive-item {
    margin-right: 3px;
}
#remove-inactive.form-button {
    background-image: url("../icons/remove.png");
}
#remove-active.form-button {
    background-image: url("../icons/remove_light.png");
}
#add-inactive.form-button {
    background-image: url("../icons/add.png");
}
#add-active.form-button {
    background-image: url("../icons/add_light.png");
}
#edit-inactive.form-button {
    background-image: url("../icons/edit.png");
}
#edit-active.form-button {
    background-image: url("../icons/edit_light.png");
}
#expand-inactive.form-button {
    background-image: url("../icons/expand_dark.png");
}
#expand-active.form-button {
    background-image: url("../icons/expand_light.png");
}
#collapse-inactive.form-button {
    background-image: url("../icons/collapse_dark.png");
}
#collapse-active.form-button {
    background-image: url("../icons/collapse_light.png");
}
#restore-inactive.form-button {
    background-image: url("../icons/restore_dark.png");
}
#restore-active.form-button {
    background-image: url("../icons/restore_light.png");
}
#save-inactive.form-button {
    background-image: url("../icons/save_dark.png");
}
#save-active.form-button {
    background-image: url("../icons/save_light.png");
}
.treeview {
    margin: 0px;
    padding-right: 20px;
    padding-left: 4px;
    color: #a5bdbd;
}
#student-frame.table-list-container {
    margin-top: 0px;
}
#gender-frame.table-list-container {
    margin: 0px;
    margin-right: 10px;
    min-width: 160px;
}
.entry-with-label {
    padding: 2px 8px;
    margin: 0px 0px 10px 5px;
    font-size: 11pt;
    min-height: 23px;
    outline: none;
    border-radius: 3px;
    border: 0px;
}
.entry-label {
    margin-bottom: 10px;
}
#symbol-label {
    margin-left: 20px;
}
.image-button {
    border-image: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-shadow: none;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    border-radius: 2px;
}
.active-help-button {
    background-color: #2b2b2b;
    margin-right: 6px;
    padding-right: 5px;
    background-image: url("../icons/help_dark.png");
}
.active-help-button:hover {
    background-image: url("../icons/help_light.png");
}
.launcher_help_content {
    min-width: 450px;
    margin-top: 10px
}
.launcher_help_directory {
    padding: 2px;
}
.launcher_help_directory_treeview {
    margin-top: 0px;
}
.launcher_help_action_bar {
    background-color: #2b2b2b;
    padding: 4px;
}
.large-title {
    font-size: 16pt;
}
.medium-title {
    font-size: 14pt;
}
.small-title {
    font-size: 12pt;
    margin-left: 7px;
}
.help-text {
    color: green;
}
.help-link {
    margin-left: 10px;
    margin-top: 3px;
}
.help-link link {
    color: orange;
}
.help-text-section {
    margin-bottom: 15px;
    padding-left: 3px;
    padding-right: 12px;
}